doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/@loadingio/transition.css/main/transition.min.css")
    +css("css/index.css")
  body
    .w-1024.mx-auto.rwd.my-4
      .btn.btn-primary(ld="run") Run
      hr
      .row
        .col: .form-group
          label input
          input.form-control(ld="input", value="5")
        .col: .form-group
          label output
          input.form-control(ld="output")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldview/main/ldview.min.js")
    +script("js/index.js")
